.invalid_hashcode_container {
	width: 300px;
	margin: 130px auto;	
	text-align: center;
	border: 1px solid #B7B7B7;
	font-weight: 100;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.invalid_hashcode_container .invalid_hashcode{
	width: 330px;
	margin: 30px 0 -5px;
	color: red;
	font-size: 24px;
	text-align: center;
}

.set_new_pass {
	width: 350px;
	margin: 130px auto;	
	text-align: center;
	padding: 10px 40px;
	border: 1px solid #B7B7B7;
}

.set_new_pass *{
	font-weight: 100;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.set_new_pass h1 {
	color: #666;
	font-size: 24px;
}

.set_new_pass form {
	margin: 20px 0;
}

.set_new_pass form input {
	padding: 10px;
	width: -webkit-calc(100% - 22px);
	width: -moz-calc(100% - 22px);
	width: calc(100% - 22px);
}

.set_new_pass form button {
	background: rgb(255,255,255);
	border: 1px solid #B7B7B7;
	font-size: 20px;
	color: #606060;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-icab-border-radius: 4px;
	border-radius: 4px;
	padding:8px 20px;
	margin: auto;
}

.set_new_pass form button:hover {
	background: -webkit-linear-gradient(to bottom, #FFFFFF 20%, #FAF7F7 40%, #FEFCFC 60%, #F3F2F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to bottom, #FFFFFF 20%, #FAF7F7 40%, #FEFCFC 60%, #F3F2F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to bottom, #FFFFFF 20%, #FAF7F7 40%, #FEFCFC 60%, #F3F2F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom, #FFFFFF 20%, #FAF7F7 40%, #FEFCFC 60%, #F3F2F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); /* Standard syntax */
}

.set_new_pass .error_message{
	display: block;
	color: red;
	font-size: 14px;
	margin: 10px 0;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {
    z-index: 15;
}