body {
    margin: 0;
    min-width: 270px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.redBorder {
    border-color: #f00 !important;
}
button {
    cursor: pointer;
}
* {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font-weight: inherit;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}
*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*a {
 color: #FFFFFF;
 }*/
a {
    color: inherit;
}
.clear {
    clear: both;
}

.page_ctrl, .pagination {
    display: table;
    width: 50%;
    margin: auto;
}

.pagination {
    width: 70%;
    padding: 20px 0;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.page_ctrl {
    margin: 20px auto 35px;
}

.page_ctrl li, .pagination li {
    display: table-cell;
    color: rgb(102,102,102);
    font-size: 14px;
}

.add-new-admin-form .upload_preview {
    text-align: center;
    margin-top: 40px;
}

.add-new-admin-form .upload_preview canvas {
}

.bioaderma_admin_logo {
    padding-bottom: 15px;
    text-align: center;
}
.bioaderma_admin_logo.main_logo{
    display: inline-block;
}
.bioaderma_admin_logo.main_logo img{
    height: 50px;
    padding-left: 10px;
}
.pagination li {
    font-size: 16px;
}

.pagination .number_of_page {
    text-align: center;
    width: 20px;
}

.pagination .pevious_page, .pagination .next_page {
    width: 20%;
}

.pagination .pevious_page, .pagination .first_page {
    text-align: right;
    padding-right: 10px;
}

.pagination .next_page, .pagination .last_page {
    padding-left: 10px;
}

.page_ctrl .current_page {
    width: 30px;
}

.page_ctrl .current_page input {
    width: 100%;
    border: solid 1px rgb(231,231,231);
    text-align: center;
    height: 23px;
    border-radius: 4px;
}

.table-content .table-row .table-current-content {
    padding-left: 20px;
}

.page_ctrl .total_pages {
    padding-left: 10px;
    width: 40%;
}

.page_ctrl .page_text {
    text-align: right;
    padding-right: 10px;
    width: 35px;
}

.page_ctrl li select, .page_ctrl li input {
    color: rgb(102,102,102);
}

.page_ctrl .page_number select {
    border: solid 1px rgb(231,231,231);
    width: 100%;
    height: 25px;
    border-radius: 4px;
}
.page_ctrl .page_number select option {
    padding-left: 3px;
}

.page_ctrl .display_page_number {
    width: auto;
    text-align: right;
}

.space {
    clear: both;
    height: 20px;
}
.doubleSpace {
    clear: both;
    height: 40px;
}
.hide {
    display: none;
}
.circle {
    border-radius: 6px;
    width: 6px;
    height: 6px;
    background: #558AB8;
    display: inline-block;
    margin-left: 3px;
    margin-top: -8px;
}
.input-type-text-design {
    border: 1px solid #b0ceea;
    border-radius: 1px;
    font-size: 18px;
    color: #478ecf;
    padding: 2px 10px 7px 7px;
}
.input-type-text-design.invalid{
    border: 1px solid #AE1313;
}

.blue-button, .blue-button.ui-button{
    border: 1px solid #428BCA !important;
    color: #428BCA  !important;
    background: #ffffff  !important;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.blue-button:hover,.blue-button.ui-button:hover{
    color: #fff  !important;
    background: #428BCA  !important;
}

.white-button {
    background: linear-gradient(to top , #FFFFFF 20%, #FAF7F7 40%, #FEFCFC 60%,  #F3F2F2 100%);
    border: 1px solid #B7B7B7;
    color: #606060;
    cursor: pointer;
}
.white-button:hover {
    background: linear-gradient(to bottom , #FFFFFF 20%, #FAF7F7 40%, #FEFCFC 60%,  #F3F2F2 100%);
}
.notitle-dialog .ui-dialog-titlebar {
    display: none;
}
.loader {
    background: url('@NGS_PATH/img/loader.gif') no-repeat;
    background-size: 100% 100%;
    height: 160px;
    margin: 0 auto;
    width: 185px;
}
p.error {
    text-align: center;
    color: red !important;
    font-size: 15px;
}
/*Fonts
 *********************************************/
@font-face {
    font-family: 'Pictos';
    font-style: normal;
    font-weight: 400;
    src: local('Pictos'), url("@NGS_PATH/fonts/pictos-web.woff") format('woff');
}
.glyph:after {
    font-family: 'Pictos';
}
.glyph.edit:after {
    content: "p";
    cursor: pointer;
    line-height: 0px;
    font-family: 'Pictos';
    margin-right: 10px;
}
.glyph.edit:hover {
    color: green;
}
.glyph.dashboard:after {
    content: ",";
}
.glyph.settings:after {
    content: "y";
}
.glyph.groups:after {
    content: "b";
}
.glyph.message:after {
    content: "M";
}
.glyph.progress:after {
    content: "W";
}
.glyph.bell:after {
    content: ":";
}
.glyph.user:after {
    content: "U";
}
.glyph.loupe:after {
    content: "s";
    cursor: pointer;
    line-height: 12px;
}
.glyph.admin:after {
    content: "g";
    cursor: pointer;
}
.glyph.delete:after {
    content: "D";
    cursor: pointer;
    line-height: 0px;
}
.glyph.delete-comment:after {
    content: "*";
    cursor: pointer;
    line-height: 0px;
    font-size: 12px;
}
.glyph.delete-comment:hover {
    color: #EB1010;
}
.glyph.delete:hover {
    color: #EB1010;
}
.glyph.posts:after {
    content: "W";
    cursor: pointer;
}
.glyph.timeline:after {
    content: "t";
    cursor: default;
    line-height: 9px;
    margin-right: -1px;
}
.glyph.logout:after {
    content: "Q";
    cursor: pointer;
    line-height: 34px;
    margin-right: 5px;
}
.glyph.more-detials:after {
    content: ".";
    cursor: pointer;
}

.glyph.country::after {
    content: "T";
    cursor: pointer;
}
.glyph.timer:after {
    content: "t";
    line-height: 5px;
}
.glyph.background:after {
    content: "P";
    line-height: 5px;
}
.glyph.selected:after {
    content: "3";
    line-height: 5px;
}
/*LOGIN
 *********************************************/
.login-wrapper {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0 0 1px #FAF7F7;
    color: #666666;
    left: 50%;
    margin-left: -250px;
    margin-top: -210px;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    top: 50%;
    width: 500px;
}
.login-wrapper .login-form {
    width: 360px;
    margin: 0 auto;
}
.login-wrapper .login-form .error {
    text-align: center;
}
.login-wrapper .login-header {
    margin-bottom: 20px;
}
.login-wrapper .login-header .admin-logo {
    font-size: 28px;
    margin-bottom: 45px;
    margin-left: 10px;
    text-align: center;
}
.login-wrapper .login-wrapper-content {
    margin-bottom: 10px;
}
.login-wrapper .login-wrapper-content span {
    display: inline-block;
    width: 24%;
}
.login-wrapper .login-wrapper-content input {

}

.login-wrapper input[type="submit"] {
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px 25px;
    width: 40%;
    border-radius: 1px;
    margin-bottom: 10px;
}

/*Layout
 *********************************************/
.wrapper {

}
.wrapper .admin-panel-header {
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9;
}
.wrapper .admin-panel-header .logo-wrapper {
    float: left;
    color: #666666;
    float: left;
    font-size: 23px;
    margin-left: 25px;
    margin-top: 10px;
}
.wrapper .admin-panel-header .header-nav {
    float: right;
    margin-right: 25px;
    height: 100%;
}
.wrapper .admin-panel-header .header-nav li.nav-item {
    float: left;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
    color: #428BCA;
    height: 100%;
}
.wrapper .admin-panel-header .header-nav li.nav-item:hover {
    color: #CCCCCC;
}
.wrapper .admin-panel-header .header-nav li.nav-item:hover ul {
    color: #428BCA;
}
.wrapper .admin-panel-header .header-nav li .header-nav-popup-menus {
    background: #FFFFFF;
    height: 200px;
    position: absolute;
    right: 0;
    width: 120px;
    display: none;
    top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.wrapper .admin-panel-header .header-nav li .header-nav-popup-menus.active {
    display: block;
}
.wrapper .admin-panel-header .header-nav li .header-nav-popup-menus.active li {
    padding: 0 24px;
}
.wrapper  .admin-panel-left-wrapper {
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    height: 100%;
    margin-top: 52px;
    position: fixed;
    top: 0px;
    width: 250px;
    display: block;
    z-index: 8;
}
.search-wrapper {
    margin: 10px 0px;
}
.search-wrapper select {
    background-image: #fff;
    background-position:  center;
    background-repeat:  repeat;
    background-size:  100%;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    color: #606060;
    float: left;
    font-size: 14px;
    height: 29px;
    margin: 0 20px 0 auto;
    padding: 0 0 0 5px;
    width: 183px;

}

.select-dropdown{
    background-image: url('@NGS_PATH/img/admin/arrow-down.png'),linear-gradient(#fff 0%, #fff 100%);
    background-position:  right 7px center,center !important;
    background-repeat:  no-repeat,repeat !important;
    background-size:  13px,100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.add_option{
    padding: 8px 0px 11px;
    border-radius: 4px;
    line-height: 0.5;
    display: inline-block;
    width: 29px;
    text-align: center;
}
.search-wrapper select  option {
    padding-left: 8px;
}
.wrapper  .admin-panel-right-wrapper .search-wrapper .search {
    position: relative;
    width: 240px;
    float: left;
}
.wrapper  .admin-panel-right-wrapper .search-wrapper input {
    background-color: #FFFFFF;
    border: 1px solid #B7B7B7;
    line-height: 1.3;
    border-radius: 4px;
    color: #606060;
    font-size: 14px;
    padding: 5px 12px;
    width: 190px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.wrapper  .admin-panel-right-wrapper .search-wrapper .filter_button{
    margin-top: 50px;
}

.wrapper  .admin-panel-right-wrapper .search-wrapper .loupe-wrapper {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: inline-block;
    height: 28px;
    line-height: 12px;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 10px;
    position: absolute;
    right: 24px;
    top: 0;
    width: 25px;
    cursor: pointer;
}
.wrapper  .admin-panel-right-wrapper .search-wrapper input:focus {
    box-shadow: 0px 0px 4px #428BCA;
}
.wrapper  .admin-panel-right-wrapper .search-wrapper span {
    color: #666666;
}
.wrapper  .admin-panel-left-wrapper  .left-panel-nav {

}
.wrapper  .admin-panel-left-wrapper  .left-panel-nav li {
    border-bottom: 1px solid #E7E7E7;
    padding: 10px;
    line-height: 20px;
    cursor: pointer;
    font-size: 14px;
    color: #428BCA;
}
.wrapper  .admin-panel-left-wrapper  .left-panel-nav li  a {
    color: #428BCA;
}

.wrapper  .admin-panel-left-wrapper  .left-panel-nav li .current-nav-wrapper {
    border-top: 1px solid #E7E7E7;
    margin-top: 10px;
    display: none;
}
.wrapper  .admin-panel-left-wrapper  .left-panel-nav li .current-nav-wrapper.active {
    display: block;
}
.wrapper  .admin-panel-left-wrapper  .left-panel-nav li .current-nav-wrapper.active {
    display: block;
}
.wrapper  .admin-panel-left-wrapper  .left-panel-nav li .current-nav-wrapper li {
    font-size: 13px;
}
.wrapper  .admin-panel-left-wrapper  .left-panel-nav li .current-nav-wrapper li.active {
    color: #FFFFFF;
}
.wrapper  .admin-panel-left-wrapper  .left-panel-nav li:hover {
    color: #CCCCCC;
}
.wrapper  .admin-panel-left-wrapper  .left-panel-nav li.active {
    color: #CCCCCC;
}
.wrapper  .admin-panel-left-wrapper  .left-panel-nav li.active {

}
.wrapper  .admin-panel-left-wrapper  .left-panel-nav li.active a {
    font-weight: bold;
}
.wrapper  .admin-panel-left-wrapper  .left-panel-nav li span {
    margin-right: 5px;
    font-size: 18px;
}

.wrapper  .admin-panel-right-wrapper {
    margin-left: 290px;
    margin-top: 60px;
    min-width: 1100px;
}
/*Groups
 *********************************************/
.wrapper .admin-panel-right-wrapper .table-wrapper.groups-table {
    /*width:50%;*/
}
/*Admin Table Classes
 *********************************************/

.wrapper .admin-panel-right-wrapper h2 {
    color: #666666;
}
.wrapper .admin-panel-right-wrapper .adding-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #E7E7E7;
    color: #333333;
    font-size: 14px;
}
.wrapper .admin-panel-right-wrapper .adding-table .user-more-details {
    display: none;
}
.wrapper .admin-panel-right-wrapper .adding-table .user-more-details .avatar-wrapper {
    position: relative;
    width: 50px;
    float: left;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}
.wrapper .admin-panel-right-wrapper .adding-table .user-more-details .avatar-wrapper img {
    height: 100%;
    width: 100%;
}
.wrapper .admin-panel-right-wrapper .adding-table .user-more-details.active {
    display: table-row;
}
.wrapper .admin-panel-right-wrapper .table-title {

}
.wrapper .admin-panel-right-wrapper .adding-table td .current-group-wrapper {

}
.wrapper .admin-panel-right-wrapper .adding-table td  .add-group-wrapper {
    margin-top: 5px;
}
.wrapper .admin-panel-right-wrapper .adding-table td  .add-group-wrapper  button {
    border-radius: 5px;
    padding: 2px;
}
.wrapper .admin-panel-right-wrapper .adding-table td  .add-group-wrapper select {
    display: block;
    margin: 10px auto 0;
    width: 120px;
    background: linear-gradient(to top, #FFFFFF 20%, #FAF7F7 40%, #FEFCFC 60%, #F3F2F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #B7B7B7;
    color: #606060;
}
.wrapper .admin-panel-right-wrapper .adding-table tr:nth-child(2n+1) {
    background-color: #F9F9F9;
}
.wrapper .admin-panel-right-wrapper .adding-table td input[type="checkbox"] {
    text-align: center;
}
.wrapper .admin-panel-right-wrapper .adding-table {
    border-collapse: collapse;
    border: 1px solid #E7E7E7;
}
/*****************************************/

.wrapper .admin-panel-right-wrapper .table-wrapper {
    margin-right: 20px;
    margin-top: 10px;
}
.wrapper .admin-panel-right-wrapper .table-wrapper.admins-table {
    /*width:40%;*/
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-header {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    color: #666;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.wrapper .admin-panel-right-wrapper .table-wrapper .table-content {
    display: table;
    width: 100%;
    position: relative;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content  .table-row {
    display: table-row;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content  .tbody {
    display: table-row-group;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content  .tbody .table-current-content {
    vertical-align: middle;
}

.wrapper .admin-panel-right-wrapper .table-wrapper .table-content  .table-row .edit-delete-wrapper {
    text-align: center;
    width: 13%;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content  .table-row .multiply-selection-delete-wrapper {
    width: 5%;
    text-align: center;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content  .table-row .delete-wrapper input[type="checkbox"] {
    vertical-align: middle;
    margin-left: 5px;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content  .table-row .more-details-wrapper {
    text-align: center;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .table-current-content {
    display: table-cell;
    color: #666666;
    border: 1px solid #E7E7E7;
    padding: 5px;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .table-current-content img {
    max-height: 120px;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .table-current-content.checkbox-group {
    text-align: center;
    width: 5%;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .table-current-content.checkbox-user {
    text-align: center;
}

.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content {
    display: none;
    width: 385px;
    border: 1px solid #E7E7E7;
    border-top: 0px;
    padding: 0px 5px;
    background: #FFFFFF;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content.active {
    display: table;
    width: 99.2%;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row {
    margin-bottom: 20px;
    display: table-cell;
    padding: 5px 35px 5px;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row {
    border-right: 1px solid #CCCCCC;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row:nth-child(1) {
    width: 42.3%;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row:nth-child(2) {
    width: 19.4%;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row form {
    vertical-align: bottom;
    display: inline-block;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row h3 {
    font-size: 14px;
    margin-bottom: 10px;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row:last-child {
    border: 0px;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row .current-group-wrapper {

}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row .current-group-wrapper .current-user-group {
    display: block;
    border: 1px solid #CCCCCC;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    padding: 2px;
    color: #666666;
    -webkit-transition: box-shadow, color 0.4s ease;
    -moz-transition: box-shadow, color 0.4s ease;
    -ms-transition: box-shadow, color 0.4s ease;
    -o-transition: box-shadow, color 0.4s ease;
    transition: box-shadow, color 0.4s ease;
    cursor: default;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row .current-group-wrapper .current-user-group:hover {
    box-shadow: 0 0 0 1px #CCCCCC;
    color: #CCCCCC;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row .current-group-wrapper .current-user-group span {
    margin-left: 10px;
    position: absolute;
    right: -9px;
    top: -11px;
    z-index: 999;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row .avatar-wrapper {
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    display: inline-block;
    height: 75px;
    margin-top: 10px;
    width: 75px;
    overflow: hidden;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row .avatar-wrapper img {
    width: 100%;
    height: 75px;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row .avatar-wrapper .browserAvatarForm {
    margin: 10px 0px;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row .add-group-wrapper {
    padding-top: 10px;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row .add-group-wrapper  select {
    background: linear-gradient(to top, #FFFFFF 20%, #FAF7F7 40%, #FEFCFC 60%, #F3F2F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #B7B7B7;
    color: #606060;
    float: left;
    font-size: 14px;
    padding: 0 0 0 5px;
    width: 160px;
    margin-right: 10px;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content .more-details-content .more-details-content-row .add-group-wrapper button {
    font-size: 14px;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content-title-wrapper {
    display: table;
    width: 100%;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .table-content-title {
    background: none repeat scroll 0 0 #F5F5F5;
    color: #428BCA !important;
    font-size: 16px;
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #E7E7E7;
    white-space: nowrap;
}

/*****************************************/
.wrapper .admin-panel-right-wrapper .adding-header button {
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
}
.wrapper .admin-panel-right-wrapper .adding-table .adding-title {
    background: none repeat scroll 0 0 #F5F5F5;
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
    text-align: left;
    border-bottom: 1px solid #E7E7E7;
}


/*****************************************/

.wrapper .img_container{
    margin: 30px 0 20px;
    border-top: 1px solid #E7E7E7;
    border-left:1px solid #E7E7E7;
}

.wrapper .img_container .image_box{
    padding: 20px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 33.3%;
    height: 300px;
    text-align: center;
    position: relative;
    border-right:  1px solid #E7E7E7;
}

.wrapper .img_container .uploaded_image{
    max-height: 190px;
    max-width: 100%;
    vertical-align: middle;
}

.wrapper .img_container button{
    vertical-align: middle;
}

.wrapper .img_container .image_box button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

.wrapper .adding-header .add_description{
    border: 1px solid #B7B7B7;
    border-radius: 4px;
    color: #606060;
    font-size: 14px;
    height: 100px;
    padding: 10px;
    width: 282px;
    display: block;
    margin-bottom: 10px;
    resize: none;
}

.wrapper .adding-header .description_text{
    color: #666666;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

/*Admins
 *********************************************/
/*Events Timeline
 *********************************************/
.group-select {
    margin-bottom: 15px;
}
.group-select select {
    margin: 10px auto 0;
    width: 120px;
    background: linear-gradient(to top, #FFFFFF 20%, #FAF7F7 40%, #FEFCFC 60%, #F3F2F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #B7B7B7;
    color: #606060;
}
.timeline-wrapper {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    width: 900px;
    background: #FFFFFF;
    margin-bottom: 20px;
}
.timeline-wrapper .pagination {
    margin: 15px 0;
    text-align: center;
}
.timeline-wrapper .pagination > span {
    text-decoration: underline;
}
.timeline-wrapper .group-wall-note {
    text-align: center;
}
.timeline-wrapper .title {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    color: #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}
.timeline-wrapper .content {
    padding: 20px 0px;
    display: table;
    width: 100%;
    position: relative;
}
.timeline-wrapper .content li {

    clear: both;
}
.timeline-wrapper .content .left-content {
    display: table-cell;
}
.timeline-wrapper .middle-line {
    background-color: #D0D0D0;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 2px;
}
.timeline-wrapper .content .right-content {
    display: table-cell;
}
.timeline-wrapper .box {
    width: 370px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.176);
    padding: 20px;
    position: relative;
    float: left;
}
.timeline-wrapper .box .post-delete {
    position: absolute;
    right: 20px;
}

.timeline-wrapper .box .post-edit {
    position: absolute;
    right: 30px;
}
.timeline-wrapper .box.left {
    float: left;
    margin-left: 21px;
}
.timeline-wrapper .box.right {
    float: right;
    margin-right: 21px;
}
.timeline-wrapper .box .arrow {
    position: absolute;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    right: 0px;
}
.timeline-wrapper .box.left .arrow {
    right: 0px;
    margin-right: -27px;
    background-image: url('@NGS_PATH/img/right_arrow.png');
}

.timeline-wrapper .box.right .arrow {
    left: 0px;
    background-image: url('@NGS_PATH/img/left_arrow.png');
    margin-left: -27px;
}
.timeline-wrapper .box .box-content {

}
.comments-get-container:first-child {
    display: none;
}
.timeline-wrapper .box .comments-wrapper {
    position: relative;
    margin-top: 5px;
}
.timeline-wrapper .box .comments-wrapper p {
    color: #666666;
    cursor: pointer;
    float: right;
    font-size: 14px;
    text-align: right;
    width: 120px;
}
.timeline-wrapper .box .comments-wrapper p.likes-wrapper {
    cursor: default;
    width: auto;
    float: left;
}
.timeline-wrapper .box .comments-wrapper .users-comments  p.likes-wrapper {
    margin: 15px 0px;
}
.timeline-wrapper .box .comments-wrapper p:hover {
    color: #333333;
}
.timeline-wrapper .box .comments-wrapper .comments-content {
    border: 1px solid #CCCCCC;
    border-top: 0px;
    position: absolute;
    top: 38px;
    width: 100%;
    z-index: 10;
    padding: 9px;
    display: none;
    left: -10px;
    background: #FFFFFF;
}
.timeline-wrapper .box .comments-wrapper .comments-content .show-page-wrapper {
    float: right;
    font-size: 14px;
    margin-top: 10px;
    color: #333333;
}
.timeline-wrapper .box .comments-wrapper .comments-content .show-page-wrapper span {

}
.timeline-wrapper .box .comments-wrapper .comments-content .show-page-wrapper .pages {
    display: inline-block;
    vertical-align: text-bottom;
}
.timeline-wrapper .box .comments-wrapper .comments-content .show-page-wrapper .pages li {
    float: left;
    padding: 0 1px;
    clear: none;
}
.timeline-wrapper .box .comments-wrapper .comments-content.active {
    display: block;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments {

}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li {
    /*display: table;*/
    border-bottom: 3px dotted #B3A9A9;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 20px;
    position: relative;
    width: 100%;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li .comment-delete {
    position: absolute;
    top: 0;
    right: 0px;
    display: inline-block;
    width: 10px;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li.right-aligned .comment-delete {
    left: 0px;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li.right-aligned {

}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li.right-aligned .left-content {
    float: right;
    margin-left: 20px;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li.right-aligned .right-content .right-content-header span.user-name {
    float: right;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li.right-aligned .right-content .right-content-header span.user-comment-info {
    float: left;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li.right-aligned .right-content p {
    text-align: right;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li .left-content {
    border-radius: 50%;
    display: block;
    float: left;
    height: 80px;
    overflow: hidden;
    vertical-align: top;
    width: 80px;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li .left-content img {
    width: 100%;
    height: 80px;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li .right-content {
    color: #666666;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding-left: 30px;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li .right-content p {
    float: none;
    margin-top: 15px;
    width: auto;
    text-align: left;
    cursor: default;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li .right-content p:hover {
    color: #666666;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li .right-content  .right-content-header {

}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li .right-content  .right-content-header span.user-name {
    color: #333333;
    float: left;
    font-weight: bold;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li .right-content  .right-content-header span.user-comment-info {
    float: right;
}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li .right-content  p span {

}
.timeline-wrapper .box .comments-wrapper .comments-content .users-comments li .right-content  p span.dynamic-timer {

}
.timeline-wrapper .box .box-content .title {
    padding: 0px;
    background-color: #FFFFFF;
    border: 0px;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    margin-bottom: 24px;
}
.timeline-wrapper .box .box-content .posted-time {
    color: #999999;
    font-size: 12px;
    margin-bottom: 20px;
}
.timeline-wrapper .box .box-content .post {
    color: #666666;
    font-size: 14px;
    line-height: 18px;
}
/*Dialog
 *********************************************/
.ui-widget {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ui-widget-header {
    background-image: none;
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
}
.ui-widget-header .ui-dialog-title {
    color: #428bca;
    font-size: 15px;
    font-weight: bold;
}
.sign-up-wrapper .dialog-row {
    margin-bottom: 15px;
}

#questionAnswerBox  .dialog-row {
    border: solid 1px transparent;
    border-top: solid 1px rgb(220,220,220);
    padding: 30px;
    position: relative;
}

#questionAnswerBox  .dialog-row:hover {
    border: solid 1px rgb(183,183,183);
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#questionAnswerBox .form_label:nth-child(n+2) {
    position: absolute;
    right: 40px;
    bottom: 50%;
    width: auto;
    transform: translate(0, 50%);
}

.text_answer textarea {
    margin: 0 !important;
}

.ui-widget #questionAnswerBox input {
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translate(0, 50%);
}

#questionAnswerBox .delete_question {
    width: 20px;
    height: 20px;
    background: rgb(183,183,183);
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 11px;
    padding: 0;
    display: none;
}

#questionAnswerBox  .dialog-row:hover .delete_question {
    display: block;
}

.photo_answer .white-button {
    float: none !important;
    vertical-align: top;
    margin-right: 33px;
}

.photo_answer img {
    width: 100px;
}

.photo_answer canvas {
    width: 100px;
}
.sign-up-wrapper .dialog-row.publication-button {
    margin-top: 15px;
}
.sign-up-wrapper .dialog-row button {
    padding: 5px;
    color: #333333;
    border-radius: 5px;
    float: right;
    font-size: 14px;
}
.sign-up-wrapper .dialog-row textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #B7B7B7;
    box-shadow: color : #606060;
    margin-bottom: 20px;
    resize: none;
    color: #333333;
    font-size: 14px;
    padding: 5px;
    margin-top: 10px;
}

.sign-up-wrapper .dialog-row  .description_textarea {
    width: 476px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

.sign-up-wrapper .dialog-row input[type="text"], .sign-up-wrapper .dialog-row input[type="password"] {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #C6C6C6;
    font-size: 14px;
    box-sizing: border-box;
    height: 30px;
    padding: 5px 10px 5px 7px;
}
.sign-up-wrapper .dialog-row select {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #C6C6C6;
    box-sizing: border-box;
    height: 29px;
    font-size: 14px;
    padding: 5px 24px 5px 7px;
}


.sign-up-wrapper .dialog-row select optgroup[label] {
    font-weight: bold;
}

.sign-up-wrapper .dialog-row select optgroup option {
    font-weight: normal;
}
.sign-up-wrapper .dialog-row span.form_label {
    width: 20%;
    display: inline-block;
    font-size: 14px;
    color: #666666;
}

.ui-dialog-buttonset button {
    background: linear-gradient(to top, #FFFFFF 20%, #FAF7F7 40%, #FEFCFC 60%, #F3F2F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #B7B7B7 !important;
    color: #606060 !important;
    background: none !important;
}
.ui-dialog-buttonset button:hover {
    background: linear-gradient(to bottom, #FFFFFF 20%, #FAF7F7 40%, #FEFCFC 60%, #F3F2F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

/*Add Admins Dialog
 *********************************************/
.add-admin-wrapper {

}

/*Add Users Dialog
 *********************************************/
.sign-up-wrapper .dialog-row.add-user-dialog-row span.form_label {
    width: 25%;
    float: left;
    margin-top: 5px;
}
.sign-up-wrapper .dialog-row.add-user-dialog-row img {
    max-width: 500px;
}
/*Add Users Publication
 *********************************************/
.add-new-publication-form textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #B7B7B7;
    box-shadow: color : #606060;
    margin-bottom: 20px;
    resize: none;
    color: #333333;
    font-size: 14px;
    padding: 5px;
}
.add-new-publication-form button {
    color: #333333;
    font-size: 14px;
}
/*Backgrounds Manager
 *********************************************/
.wrapper .admin-panel-right-wrapper .background-images-wrapper {
    margin-top: 10px;
    width: 75%;
    padding: 10px 10px 120px 10px;
}
.wrapper .admin-panel-right-wrapper .background-image-upload-wrapper {
    margin-top: 10px;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image {
    border: 1px solid #E7E7E7;
    float: left;
    height: 250px;
    margin-right: 20px;
    width: 350px;
    margin-bottom: 15px;
    -webkit-transition: box-shadow 0.4s ease;
    -moz-transition: box-shadow 0.4s ease;
    -ms-transition: box-shadow 0.4s ease;
    -o-transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    position: relative;
    overflow: hidden;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper {
    bottom: 0px;
    position: absolute;
    width: 100%;
    background: #F4F6F8;
    opacity: 0.5;
    padding: 5px;
    -webkit-transition: height 0.4s ease;
    -moz-transition: height 0.4s ease;
    -ms-transition: height 0.4s ease;
    -o-transition: height 0.4s ease;
    transition: height 0.4s ease;
    height: 20px;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image:hover .set-background-wrapper {
    height: 25px;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper.active {
    height: 95%;
    padding-top: 10px;
    opacity: 0.8;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper ul {
    margin-top: 10px;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper ul .background-option {
    border-bottom: 1px solid #333333;
    cursor: pointer;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    -webkit-transition: font 0.4s ease;
    -moz-transition: font 0.4s ease;
    -ms-transition: font 0.4s ease;
    -o-transition: font 0.4s ease;
    transition: font 0.4s ease;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper ul .background-option label {
    cursor: pointer;
    padding: 5px 0px 6px 5px;
    display: block;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper ul .background-option:last-child {
    border: 0px;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper ul li  span {
    display: none;
}

.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper ul .background-option.active {
    font-weight: bold;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper ul .background-option.active  span {
    display: inline-block;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper ul .background-option:hover {
    font-weight: bold;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper.active ul {
    border: 1px solid #C6C7C9;
    display: block;
    max-height: 152px;
    overflow-y: auto;
    padding: 5px;
    width: 89%;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper .background-bottom-wrapper {
    display: none;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper.active .background-bottom-wrapper {
    bottom: 10px;
    position: absolute;
    width: 100%;
    display: block;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper.active .background-bottom-wrapper  a {
    margin-right: 20px;
    padding: 2px 10px;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper .setted-background {
    float: left;
    margin-left: 10px;
    width: 100px;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image .set-background-wrapper a {
    font-size: 14px;
    cursor: pointer;
    float: right;
    padding: 2px;
    margin-right: 10px;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image:hover {
    box-shadow: 0 0 5px 1px #CCCCCC;
}
.wrapper .admin-panel-right-wrapper .background-images-wrapper .current-background-image img {
    width: 100%;
    height: 100%;
}
.wrapper .admin-panel-right-wrapper .button-wrapper .background-image-button {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 15px;
}

/*Users Manager
 *********************************************/

.wrapper .admin-panel-right-wrapper .table-wrapper .table-content.user-content {
    display: block;
    position: relative;
    width: 100%;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .user-content .table-row {
    display: table;
    width: 100%;
}
/*body:first-of-type  .wrapper .admin-panel-right-wrapper .table-wrapper .user-content .table-current-content {
 display:table-cell;
 }*/
.wrapper .admin-panel-right-wrapper .table-wrapper .user-content .table-current-content {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10%;
    max-width: 0px;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .user-content .table-row .edit-delete-wrapper {
    width: 100%;
}
.wrapper .admin-panel-right-wrapper .table-wrapper .user-content .table-row .multiply-selection-delete-wrapper, .wrapper .admin-panel-right-wrapper .table-wrapper .user-content .table-current-content:first-child {
    width: 3%;
}
#f_post_publication_popup_container h2 {
    color: #666;
    font-size: 18px;
    margin: 10px 0;
}
#f_post_publication_popup_container select {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 0 #ccc inset;
    color: #666;
    font-size: 14px;
}
#f_post_publication_popup_container .button-wrapper {
    margin-top: 15px;
}
#f_post_publication_popup_container .button-wrapper button {
    float: right;
    font-size: 14px;
}

.jquery-sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}
.jquery-sortable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    height: 1.5em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    cursor: pointer;
}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}

.message_list {
    min-height: 250px;
    max-height: 350px;
    overflow-y: auto;
    padding: 0 10px;
    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 20px);
    width: calc(100% - 20px);
}

.message_box {

}

.message_box.user_message {
    clear: both;
    float: left;
    -moz-box-shadow: inset -5px 0px 10px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: inset -5px 0px 10px rgba(0, 0, 0, 0.12);
    box-shadow: inset -5px 0px 10px rgba(0, 0, 0, 0.12);
}

.message_box.user_message:before {
    content: url("@NGS_PATH/img/carouselArrowLeft.png");
    width: 10px;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

.message_box.admin_message {
    clear: both;
    float: right;
    -moz-box-shadow: inset 5px 0px 10px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: inset 5px 0px 10px rgba(0, 0, 0, 0.12);
    box-shadow: inset 5px 0px 10px rgba(0, 0, 0, 0.12);
}

.message_box.admin_message:before {
    content: url("@NGS_PATH/img/carouselArrowRight.png");
    width: 10px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

.message_box.admin_message, .message_box.user_message {
    font-size: 14px;
    color: #666;
    border: solid 1px rgb(220,220,220);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -icab-border-radius: 8px;
    border-radius: 8px;
    padding: 12px;
    position: relative;
    margin: 5px 0;
    max-width: 500px;
}

.message_box.admin_message span, .message_box.user_message span {
    font-size: 10px;
    color: rgb(170,170,170);
    display: block;
}

.message_box.admin_message img, .message_box.user_message img {
    width: 130px;
    margin: 7px;
}

.ui-dialog-content p, .ui-dialog-content input {
    font-size: 14px;
    color: #666;
}

.ui-dialog-content h3 {
    border-top: solid 1px rgb(180,180,180);
    padding-top: 20px ! important;
    margin-top: 40px ! important;
    color: rgb(80,80,80);
}

.type_message {
    border: solid 1px rgb(200,200,200);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -icab-border-radius: 5px;
    border-radius: 5px;
    width: 98%;
    margin: 17px auto 0;
    position: relative;
}

.type_message input {
    width: -webkit-calc(100% - 121px);
    width: -moz-calc(100% - 121px);
    width: calc(100% - 121px);
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #C6C6C6 inset;
    border-right: solid 1px rgb(200,200,200);
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -khtml-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -icab-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.type_message button {
    width: 100px;
    font-size: 15px;
    color: rgb(130,130,130);
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
}

.horizontal_line {
    padding-top: 35px;
    border-bottom: solid 1px rgb(180,180,180);
}

.quiz_answers {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}

.quiz_answers th {
    border: 1px solid rgb(180,180,180);
    padding: 10px;
    color: #666;
}

.quiz_question_titles, .quiz_question_overall {
    background: rgb(230,230,230);
    font-size: 16px;
    font-weight: 700;
}

.question_row {
    font-size: 15px;
    text-align: center;
}

.question_row .question {
    width: 35%;
    text-align: left;
}

.question_row .answer {
    width: 35%;
    text-align: left;
}

.question_row .is_correct {
    width: 15%;
}

.question_row img {
    width: 150px;
}

.question_row .score {
    width: 15%;
}

.autocomplete_container .autocomplete_item {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 210px;
    color: #666666;
}
.autocomplete_container {
    font-family: Verdana, Arial, sans-serif;
    font-size: 0;
    font-weight: 400;
    padding-left: 26.1%;
}

.marge_users .add-new-admin-form {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}
.marge_users .add-new-admin-form {
    padding: 0 10px;
}
.marge_users {
    font-size: 0;
}
.marge_users .add-new-admin-form .add-user-dialog-row input {
    width: 100%;
    margin-top: 5px;
}
.marge_users .add-new-admin-form .add-user-dialog-row select {
    width: 100%;
    margin-top: 5px;
}
.marge_users .add-new-admin-form .add-user-dialog-row .form_label {
    width: 100%;
    padding-left: 10px;
}
.ajaxLoader {
    height: 24px;
    margin-left: 220px;
    margin-top: 12px;
    width: 24px;
    background-image: url('@NGS_PATH/img/admin/ajax_loader.gif');
}
.desc_error{
    text-align: right;
    color: red;
    line-height: 2;
}

.current-nav-wrapper {
    background: #d3d3d3;
}