*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    border:none;
    outline:none;
    color:inherit;
}

body{
    font-size: 13px;
    color:#333;
    font-family:OpenSans,sans-serif;
}

/**************************************************************************************/
/*                                         WRAPPER                                    */
/**************************************************************************************/

.wrapper{
    display:table;
    width:100%;
    box-sizing: border-box;
}

.content{
    display:table-cell;
    vertical-align: top;
}

.title{
    border-bottom: 2px solid #555;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;	
    font-weight:600;
    color:#555;
}
/**************************************************************************************/
/*                           SEARCH RESULT WRAPPER                                    */
/**************************************************************************************/
.search-result-wrapper .search-result-collection {
    max-height: 300px;
    overflow-y:auto;
}
/**************************************************************************************/
/*                                        KEYBOARD                                    */
/**************************************************************************************/
.ui-keyboard {
    background-color:#f9f9f9 !important;
}
.ui-keyboard-keyset .ui-keyboard-button {
    background-color: #26a69a !important;
    color: #fff !important;
}
.ui-keyboard-keyset .ui-keyboard-button.ui-state-hover {
    background-color: #2bbbad;
    border-color: #2bbbad;
}