*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    border:none;
    outline:none;
    color:inherit;
}

body{
    font-size: 13px;
    color:#333;
    font-family:OpenSans,sans-serif;
}

/**************************************************************************************/
/*                                         WRAPPER                                    */
/**************************************************************************************/
.logo {
    margin-left: 50px;
    width: 100px;
}
.wrapper{
    display:table;
    width:100%;
    box-sizing: border-box;
}

.content{
    display:table-cell;
    vertical-align: top;
}

.title{
    border-bottom: 2px solid #555;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;	
    font-weight:600;
    color:#555;
}
.header nav {
    height: 84px;
    line-height: 84px;
}
/**************************************************************************************/
/*                           SEARCH RESULT WRAPPER                                    */
/**************************************************************************************/
.search-result-wrapper .search-result-collection {
    /*max-height: 300px;
    overflow-y:auto;*/
}
.search-result-wrapper .cur-user{
    cursor: pointer;
}
.search-result-wrapper .cur-user:hover {
    background-color: #f6f6f6;
}
/**************************************************************************************/
/*                                        KEYBOARD                                    */
/**************************************************************************************/
.ui-keyboard {
    background-color:#f9f9f9 !important;
    background-image: none !important;
}
.ui-keyboard-keyset .ui-keyboard-button {
    background-image: none !important;
    background-color: #0d47a1 !important;
    color: #fff !important;
}
.ui-keyboard-keyset .ui-keyboard-button.ui-state-hover {
    background-color: #0d47a1;
    border-color: #0d47a1;
}
input.ui-widget-content {
    background-color: transparent !important;
    background-image: none !important;
}
.text-justify {
    text-align: justify;
}
/**************************************************************************************/
/*                                        MODAL                                       */
/**************************************************************************************/
.nav-wrapper .icon-wrapper {
    height: 84px;
    line-height: 84px;
}
.current-user-modal .cancel-btn {
    margin-left: 10px !important;
}
.current-user-modal {
    width: 80% !important;
}
.thankyou-modal {
    height: 40% !important;
    width: 45% !important;
}
.modal .close-btn {
    cursor: pointer;
    font-size: 38px;
    position: absolute;
    right: 4px;
    top: 0;
    z-index: 300;
}
.modal .close-btn:hover {
    color: #999999;
}
.modal .vote-btn {
    position: relative;
    font-size: 140px;
    cursor: pointer;
    /*border: 7px solid;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    height: 120px;
    line-height: 107px;
    text-align: center;
    width: 120px;*/
}
.modal .vote-btn i {
    display: none;
    font-size: 90px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20px;
}
.modal .vote-btn.no{
    background-color: transparent;
    border-color: #fe7e83;
    color: #fe7e83;
}
.modal .vote-btn.no.active i {
    display: inline-block;
}
/*.modal .vote-btn.no:hover,
.modal .vote-btn.no.active {
    background-color: #fe7e83;
    color: #fff;
}*/
.modal .vote-btn.yes {
    border-color: #26a69a;
    background-color: transparent;
    color: #26a69a;
}
.modal .vote-btn.yes.active i {
    display: inline-block;
}
/*.modal .vote-btn.yes:hover,
.modal .vote-btn.yes.active {
    background-color: #26a69a;
    color: #fff;
}*/
.modal.modal-fixed-footer .modal-content {
   margin-top: 40px !important; 
}
#currentUser.modal-content {
    padding-top: 0px;
}
.vote-text {
    font-size: 16px;
}
.error-message {
    padding-left: 45px;
}
.choose-btn{
    font-size:20px;
}
.modal-title-abs {
    left: 0;
    position: absolute;
    right: 0;
    top: 5px;
}
/**************************************************************************************/
/*                                        CALENDAR                                    */
/**************************************************************************************/
.picker__day--infocus{
    padding: 0.45rem 0 !important;
}
.picker__date-display {
    padding-bottom: 0px !important;
}
.picker__weekday-display {
    margin-bottom: 0px !important;
}
.picker__month-display {
    display: inline-block !important;
    vertical-align: middle !important;
}
.picker__day-display {
    display: inline-block !important;
    margin: 0 10px !important;
    vertical-align: middle !important;
}
.picker__year-display {
    display: inline-block !important;
    vertical-align: middle !important;
}
.picker__footer .picker__close {
    margin: 0px auto;
    background-color: #26a69a;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    height: 36px;
    line-height: 36px;
}
.picker__footer .picker__close:hover {
    background-color: #2bbbad;
}
.picker__footer .picker__close,
.picker__day--selected, .picker__day--selected:hover, 
.picker--focused .picker__day--selected,
.picker__date-display {
    background-color: #0d47a1 !important;
}
.picker__weekday-display {
    background-color: #3057b1 !important;
}
/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}
.input-field label.active,
.input-field .material-icons.prefix.active {
    color: #0d47a1 !important;
}