*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    border:none;
    outline:none;
    color:inherit;
}

body{
    font-size: 13px;
    color:#333;
    font-family:OpenSans,sans-serif;
}

/**************************************************************************************/
/*                                         WRAPPER                                    */
/**************************************************************************************/

.wrapper{
    display:table;
    width:100%;
    box-sizing: border-box;
}

.content{
    display:table-cell;
    vertical-align: top;
}

.title{
    border-bottom: 2px solid #555;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;	
    font-weight:600;
    color:#555;
}
/**************************************************************************************/
/*                           SEARCH RESULT WRAPPER                                    */
/**************************************************************************************/
.search-result-wrapper .search-result-collection {
    /*max-height: 300px;
    overflow-y:auto;*/
}
.search-result-wrapper .cur-user{
    cursor: pointer;
}
.search-result-wrapper .cur-user:hover {
    background-color: #f6f6f6;
}
/**************************************************************************************/
/*                                        KEYBOARD                                    */
/**************************************************************************************/
.ui-keyboard {
    background-color:#f9f9f9 !important;
    background-image: none !important;
}
.ui-keyboard-keyset .ui-keyboard-button {
    background-image: none !important;
    background-color: #26a69a !important;
    color: #fff !important;
}
.ui-keyboard-keyset .ui-keyboard-button.ui-state-hover {
    background-color: #2bbbad;
    border-color: #2bbbad;
}
input.ui-widget-content {
    background-color: transparent !important;
    background-image: none !important;
}
/**************************************************************************************/
/*                                        MODAL                                       */
/**************************************************************************************/
.current-user-modal .cancel-btn {
    margin-left: 10px !important;
}
.thankyou-modal {
    height: 40% !important;
    width: 35% !important;
}
.modal .close-btn {
    cursor: pointer;
    font-size: 38px;
    position: absolute;
    right: 4px;
    top: 0;
    z-index: 300;
}
.modal .close-btn:hover {
    color: #999999;
}
.modal .vote-btn {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 120px;
}
.modal .vote-btn.no{
    background-color: #ee6e73;
}
.modal .vote-btn.no:hover,
.modal .vote-btn.no.active {
    background-color: #fe7e83;
}
.modal .vote-btn.yes {
    background-color: #26a69a;
}
.modal .vote-btn.yes:hover,
.modal .vote-btn.yes.active {
    background-color: #46c6ba;
}
.modal.modal-fixed-footer .modal-content {
   margin-top: 40px !important; 
}
#currentUser.modal-content {
    padding-top: 0px;
}
.vote-text {
    font-size: 16px;
}
.error-message {
    padding-left: 45px;
}
/**************************************************************************************/
/*                                        CALENDAR                                    */
/**************************************************************************************/
.picker__day--infocus{
    padding: 0.45rem 0 !important;
}
.picker__date-display {
    padding-bottom: 0px !important;
}
.picker__weekday-display {
    margin-bottom: 0px !important;
}
.picker__month-display {
    display: inline-block !important;
    vertical-align: middle !important;
}
.picker__day-display {
    display: inline-block !important;
    margin: 0 10px !important;
    vertical-align: middle !important;
}
.picker__year-display {
    display: inline-block !important;
    vertical-align: middle !important;
}
.picker__footer .picker__close {
    margin: 0px auto;
    background-color: #26a69a;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    height: 36px;
    line-height: 36px;
}
.picker__footer .picker__close:hover {
    background-color: #2bbbad;
}